<!-- Sidebar -->

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">HOME</div>
<!--        <div sec:authorize="isAuthenticated()">-->
<!--            <span th:text="${name}"></span>님 환영합니다.-->
<!--        </div>-->
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a sec:authorize="isAnonymous()" class="nav-link collapsed" th:href="@{/login}">
            <span>로그인</span>
        </a>
        <a sec:authorize="isAnonymous()" class="nav-link collapsed" th:href="@{/signUp}">
            <span>회원가입</span>
        </a>
        <a sec:authorize="isAuthenticated()" class="nav-link collapsed" th:href="@{/logout}">
            <span>로그아웃</span>
        </a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link collapsed" th:href="@{/admin}">
            <span>관리자 페이지</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/books}">
            <span>책 목록</span>
        </a>
        <a class="nav-link collapsed" th:href="@{/members}">
            <span>회원 목록</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->