<!-- Sidebar -->

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">HOME</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link collapsed" th:if="${member != null}" th:href="@{/}">
            <span class="font-weight-bold text-lg" th:text="${member.name}"></span> 님
        </a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a th:if="${member == null}" class="nav-link collapsed" th:href="@{/login}">
            <span>로그인</span>
        </a>
        <a th:if="${member == null}" class="nav-link collapsed" th:href="@{/signUp}">
            <span>회원가입</span>
        </a>
        <a th:if="${member != null}" class="nav-link collapsed" th:href="@{/logout}">
            <span>로그아웃</span>
        </a>
        <a th:if="${member != null && member.role == 'ROLE_ADMIN'}" class="nav-link collapsed" th:href="@{/admin}">
            <span>관리자 페이지</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/books}">
            <span>책 목록</span>
        </a>
        <a th:if="${member != null}" class="nav-link collapsed" th:href="@{/members}">
            <span>대여 내역</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->